* {
  margin: 0;
  padding: 0;
  transition: 0.8ms;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Hero Banner Styles Starts */
.hero-banner {
  background-image: url(../images/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.logo h1 {
  font-size: 45px;
  color: tomato;
}
.menu-item ul li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}
.menu-item ul li a {
  text-decoration: none;
  font-weight: 700;
  color: tomato;
}

.banner-info {
  text-align: center;
  margin: 200px auto;
  width: 60%;
}
.banner-info h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}
.banner-info p {
  line-height: 1.7;
  letter-spacing: 2px;
  color: white;
}
.main-button {
  padding: 16px 30px;
  background-color: #ff5959;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}
.main-button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* Hero Banner Styles Ends */

/* Donation section Styles Styles */
.donation-section {
  text-align: center;
  margin: 100px 0;
}
.donation-info h1 {
  font-size: 30px;
  font-weight: bold;
}
.donation-info p {
  margin: 20px 0;
  line-height: 1.7;
  letter-spacing: 2px;
}
.amount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.amount-box {
  margin: 0 20px;
  padding: 20px;
  background-color: #fafafa;
  color: #707070;
}
#color-box {
  border: 1px solid red;
  background-color: #ffeeee;
  color: #ff5959;
}
/* .amount-input {
 
  text-align: center;
} */
.amount-input input {
  margin: 20px 0 10px;
  padding: 10px 200px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  text-align: center;
  font-size: 16px;
  border-color: #707070;
}
input:focus {
  outline: none;
}
/* Donation section Styles Ends */

/* Donate plan section Styles Starts */
.donate-plan p {
  line-height: 1.7;
  letter-spacing: 2px;
}
.donate-plan h1 {
  margin-bottom: 20px;
  font-size: 35px;
}
.donate-info {
  margin: auto;
  text-align: center;
  width: 50%;
}
.plan-box {
  display: flex;
  margin: 0 100px;
}
#plan-1 {
  background-color: #4f9da61a;
}
#plan-2 {
  background-color: #ff59591a;
}
#plan-3 {
  background-color: #fff4d6;
}
.box {
  margin: 50px 20px 0;
  padding: 60px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box h3 {
  margin: 15px 0;
}

/* Donate plan section Styles Ends */

/* Event  section Styles Ends */
.upcomming-event {
  margin: 100px 0;
}
.event-title h1 {
  font-size: 50px;
  color: #ff5959;
  margin-left: 20px;
}
.event-details {
  display: flex;
}
.event {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 5px;
}

.event-date {
  background-color: #ff5959;
  margin-right: 10px;
  width: 5%;
  padding: 10px;
  text-align: center;
  color: white;
}

.event-image {
  width: 50%;
  background-color: #ff5959;
  margin-left: 15px;
  padding: 20px 0;
  border-radius: 5px;
}
.image-bg {
  display: flex;
  margin-left: 20px;
}
.image-bg img {
  width: 97%;
  border-radius: 5px;
}
/* Event section Styles Ends */
